.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity:0.4;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: HK Grotesk;
  background-color:#FF6F91; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #845EC2,#FF6F91, #F9F871);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 ;
  
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50%;
  background-color:rgba(76, 75, 75, 0.4);
  border-radius: 15px;
}

.inbx{
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items:center;
  justify-content:center;
  font-family:Optima,sans-serif;
}

.outbx{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:60%;
  background-color:white;
  border-radius: 10px;
  margin:25px;
  font-family:Optima,sans-serif;
}

.outtxt{
  padding:5px;
}

.titlebx{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top:0;
}

.title {
  color: white;
  font-family: Optima, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 105%;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;

}


input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

button {
  width: 60%;
  background-color:#8138EB;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.8s;
}

button:hover{
  background-color: #FF6F91;
  color: white;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  margin-top: 25px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
